# Assignment 1: Series Basics

The code has been previded to create an array, `oil_array` from a dataframe column. 

* Convert `oil_array` into a Pandas Series, called `oil_series`. Give it a name!
* Return the name, dtype, size, and index of `oil_series`.

Take the mean of the values array. 

Then, convert the series to integer datatype and recalculate the mean.

In [1]:
import numpy as np 
import pandas as pd

In [2]:
# create a DataFrame from the oil file, drop missing values
oil = pd.read_csv(r"E:\Devu\USB Drive\coding\pandas-from-scratch\notebooks\Sec-2_Series\oil.csv").dropna()

# Grab 100 rows of oil prices
oil_array = np.array(oil["dcoilwtico"].iloc[1000:1100])

oil_array

array([52.22, 51.44, 51.98, 52.01, 52.82, 54.01, 53.8 , 53.75, 52.36,
       53.26, 53.77, 53.98, 51.95, 50.82, 52.19, 53.01, 52.36, 52.45,
       51.12, 51.39, 52.33, 52.77, 52.38, 52.14, 53.24, 53.18, 52.63,
       52.75, 53.9 , 53.55, 53.81, 53.01, 52.19, 52.37, 52.99, 53.84,
       52.96, 53.21, 53.11, 53.41, 53.41, 54.02, 53.61, 54.48, 53.99,
       54.04, 54.  , 53.82, 52.63, 53.33, 53.19, 52.68, 49.83, 48.75,
       48.05, 47.95, 47.24, 48.34, 48.3 , 48.34, 47.79, 47.02, 47.29,
       47.  , 47.3 , 47.02, 48.36, 49.47, 50.3 , 50.54, 50.25, 50.99,
       51.14, 51.69, 52.25, 53.06, 53.38, 53.12, 53.19, 52.62, 52.46,
       50.49, 50.26, 49.64, 48.9 , 49.22, 49.22, 48.96, 49.31, 48.83,
       47.65, 47.79, 45.55, 46.23, 46.46, 45.84, 47.28, 47.81, 47.83,
       48.86])

In [3]:
oil_series=pd.Series(oil_array , name ="oil_price")
oil_series

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: oil_price, Length: 100, dtype: float64

In [4]:
oil_series.name

'oil_price'

In [5]:
oil_series.dtype

dtype('float64')

In [6]:
oil_series.size

100

In [7]:
oil_series.mean()

51.128299999999996

In [8]:
integer_oil=oil_series.astype("int")

In [9]:
integer_oil.mean()

50.66

# Assignment 2:  Accessing Series Data

* Set the date series, which has been created below, to be the index of the oil price series created in assignment 1.


* Then, take the mean of the first 10 and last 10 prices of the series.


* Finally, grab all oil prices from January 1st, 2017 - January 7th, 2017 (inclusive) and set the index to the default integer index.

In [10]:
# extract date column from oil DataFrame and grab first 100 rows

dates = pd.Series(oil["date"]).iloc[1000:1100]
dates

1035    2016-12-20
1036    2016-12-21
1037    2016-12-22
1038    2016-12-23
1040    2016-12-27
           ...
1135    2017-05-09
1136    2017-05-10
1137    2017-05-11
1138    2017-05-12
1139    2017-05-15
Name: date, Length: 100, dtype: object

In [11]:
oil_series.index=dates
oil_series

date
2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_price, Length: 100, dtype: float64

In [12]:
oil_series.iloc[:10].mean()

52.765

In [13]:
oil_series.iloc[-10:].mean()

47.13

In [14]:
oil_series.loc["2017-01-01":"2017-01-07"]

date
2017-01-03    52.36
2017-01-04    53.26
2017-01-05    53.77
2017-01-06    53.98
Name: oil_price, dtype: float64

In [15]:
oil_series.reset_index(drop="True")

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: oil_price, Length: 100, dtype: float64

# Assignment 3: Sorting and Filtering Series

* First, get the 10 lowest prices from the data. 
* Sort the 10 lowest prices by date, starting with the most recent and ending with the oldest price.

* Finally, use the list of provided dates. Select only rows with these dates that had a price of less than 50 dollars per barrel.

In [16]:
# list of dates to be used to solve bullet 3

dates = [
    "2016-12-22",
    "2017-05-03",
    "2017-01-06",
    "2017-03-05",
    "2017-02-12",
    "2017-03-21",
    "2017-04-14",
    "2017-04-15",
]

In [17]:
oil_series.sort_values().iloc[:10].sort_index(ascending=False)

date
2017-05-10    47.28
2017-05-09    45.84
2017-05-08    46.46
2017-05-05    46.23
2017-05-04    45.55
2017-03-27    47.02
2017-03-23    47.00
2017-03-22    47.29
2017-03-21    47.02
2017-03-14    47.24
Name: oil_price, dtype: float64

In [18]:
mask=(oil_series.index.isin(dates)) & (oil_series <= 50)
oil_series.loc[mask]

date
2017-03-21    47.02
2017-05-03    47.79
Name: oil_price, dtype: float64


# Assignment 4: Series Operations

* Increase the prices in the oil series by 10%, and add an additional 2 dollars per barrel on top of that.

* Then, create a series that represents the difference between each price and max price.

* Finally, extract the month from the string dates in the index and store them as an integer in their own series.

In [19]:
oil_series.mul(1.1).add(2)

date
2016-12-20    59.442
2016-12-21    58.584
2016-12-22    59.178
2016-12-23    59.211
2016-12-27    60.102
               ...
2017-05-09    52.424
2017-05-10    54.008
2017-05-11    54.591
2017-05-12    54.613
2017-05-15    55.746
Name: oil_price, Length: 100, dtype: float64

In [20]:
max_price=oil_series.max()
(oil_series-max_price)/max_price

date
2016-12-20   -0.041483
2016-12-21   -0.055800
2016-12-22   -0.045888
2016-12-23   -0.045338
2016-12-27   -0.030470
                ...
2017-05-09   -0.158590
2017-05-10   -0.132159
2017-05-11   -0.122430
2017-05-12   -0.122063
2017-05-15   -0.103157
Name: oil_price, Length: 100, dtype: float64

In [21]:
month=oil_series.index.str[5:7].astype(int)
pd.Series(month)

0     12
1     12
2     12
3     12
4     12
      ..
95     5
96     5
97     5
98     5
99     5
Name: date, Length: 100, dtype: int64

# Assignment 5: Series Aggregations

* Calculate the sum and mean of prices in the month of March. 

* Next, calculate how many prices were recorded in January and February.

* Then, calculate the 10th and 90th percentiles across all data.

* Finally, how often did integer dollar value (e.g. 51, 52) occur in the data? Normalize this to a percentage.

*

In [22]:
oil_series[oil_series.index.str[6:7]=="3"].sum()

1134.5399999999997

In [23]:
oil_series[oil_series.index.str[6:7]=="3"].mean()

49.32782608695651

In [24]:
oil_series[oil_series.index.str[6:7].isin(["1","2"])].count()

47

In [25]:
oil_series.quantile([0.1,0.9])

0.1    47.299
0.9    53.811
Name: oil_price, dtype: float64

In [26]:
oil_series.astype(int).value_counts(normalize=True)

53    0.26
52    0.22
47    0.13
48    0.10
51    0.07
50    0.07
49    0.06
54    0.05
45    0.02
46    0.02
Name: oil_price, dtype: float64

# Assignment 6: Missing Data

There were some erroneous prices in our data, so they were filled in with missing values.

Can you confirm the number of missing values in the price column? 

Once you’ve done that, fill the prices in with the median of the oil price series.

In [27]:
# Fill in two values with missing data

oil_series = oil_series.where(~oil_series.isin([51.44, 47.83]), pd.NA)
oil_series

date
2016-12-20    52.22
2016-12-21      NaN
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12      NaN
2017-05-15    48.86
Name: oil_price, Length: 100, dtype: float64

In [28]:
oil_series.isna().sum()

2

In [29]:

oil_series.fillna(oil_series.median())

date
2016-12-20    52.220
2016-12-21    52.205
2016-12-22    51.980
2016-12-23    52.010
2016-12-27    52.820
               ...
2017-05-09    45.840
2017-05-10    47.280
2017-05-11    47.810
2017-05-12    52.205
2017-05-15    48.860
Name: oil_price, Length: 100, dtype: float64

# Exercise 7: Apply and Where

Write a function that outputs ‘buy’ if price is less than the 90th percentile and ‘wait’ if it’s not. Apply it to the oil series.

Then, create a series that multiplies price by .9 if the date is ‘2016-12-23’ or ‘2017-05-10’, and 1.1 for all other dates.

In [30]:
oil_series

date
2016-12-20    52.22
2016-12-21      NaN
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12      NaN
2017-05-15    48.86
Name: oil_price, Length: 100, dtype: float64

In [31]:
def custom(x,full_series):
    if x<oil_series.quantile(0.9):
        return "buy"
    else:
        return "wait"
oil_series.apply(custom,full_series=oil_series)

date
2016-12-20     buy
2016-12-21    wait
2016-12-22     buy
2016-12-23     buy
2016-12-27     buy
              ...
2017-05-09     buy
2017-05-10     buy
2017-05-11     buy
2017-05-12    wait
2017-05-15     buy
Name: oil_price, Length: 100, dtype: object

In [33]:
(oil_series.where(oil_series.index.isin(["2016-12-23","2017-05-10"]), oil_series*1.1)
 .where(~oil_series.index.isin(["2016-12-23","2017-05-10"]),oil_series*.9))

date
2016-12-20    57.442
2016-12-21       NaN
2016-12-22    57.178
2016-12-23    46.809
2016-12-27    58.102
               ...
2017-05-09    50.424
2017-05-10    42.552
2017-05-11    52.591
2017-05-12       NaN
2017-05-15    53.746
Name: oil_price, Length: 100, dtype: float64