In [1]:
import pandas as pd

#### creating series

In [2]:
sales=[11,0,2,3,34,22,0,34]
sales_prices=pd.Series(sales,name='sales')
print(sales_prices)

0    11
1     0
2     2
3     3
4    34
5    22
6     0
7    34
Name: sales, dtype: int64

In [5]:
sales_prices.values

array([11,  0,  2,  3, 34, 22,  0, 34], dtype=int64)

In [ ]:
sales_prices.index

In [9]:
sales_prices.name

'sales'

In [11]:
sales_prices.dtype

dtype('int64')

In [12]:
sales_prices.min()

0

In [14]:
sales_prices.max()

34

In [15]:
sales_prices.mean()

13.25

### astype() - convert the data type in pandas series (if compatable)

In [16]:
sales_prices.astype("float")

0    11.0
1     0.0
2     2.0
3     3.0
4    34.0
5    22.0
6     0.0
7    34.0
Name: sales, dtype: float64

In [17]:
sales_prices.astype("bool")

0     True
1    False
2     True
3     True
4     True
5     True
6    False
7     True
Name: sales, dtype: bool