# DataFrame creation & properties

In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame({
    "id":[1,2],
    "sales":[23,29]})
df

   id  sales
0   1     23
1   2     29

In [6]:
df.axes

[RangeIndex(start=0, stop=2, step=1), Index(['id', 'sales'], dtype='object')]

In [7]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [10]:
df.shape

(2, 2)

In [11]:
df.dtypes

id       int64
sales    int64
dtype: object