# aggregation

## basic aggregation

In [1]:
import numpy as np 
import pandas as pd

In [9]:
stores=pd.read_csv(r"E:\Devu\USB Drive\coding\pandas-from-scratch\notebooks\Sec-4_aggregation&reshaping\stores.csv")
stores.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [ ]:
stores["cluster"].sum()

# groupby() method

In [17]:
stores.groupby("city")["cluster"].sum()

city
Ambato            23
Babahoyo          10
Cayambe            6
Cuenca            10
Daule              1
El Carmen          3
Esmeraldas        10
Guaranda          15
Guayaquil         60
Ibarra            15
Latacunga         30
Libertad          10
Loja               4
Machala            7
Manta             24
Playas             3
Puyo               7
Quevedo            3
Quito            196
Riobamba           7
Salinas            1
Santo Domingo     13
Name: cluster, dtype: int64