# Transform()

In [1]:
import pandas as pd

In [2]:
stores=pd.read_csv(r"E:\Devu\USB Drive\coding\pandas-from-scratch\notebooks\Sec-4_aggregation&reshaping\stores.csv")
stores.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [12]:
stores.assign(sums=(stores.groupby("city")["cluster"].transform("sum"))).head()

,store_nbr,city,state,type,cluster,sums
0,1,Quito,Pichincha,D,13,196
1,2,Quito,Pichincha,D,13,196
2,3,Quito,Pichincha,D,8,196
3,4,Quito,Pichincha,D,9,196
4,5,Santo Domingo,Santo Domingo de los Tsachilas,D,4,13